<IfModule mod_rewrite.c>
	RewriteEngine   On
	RewriteBase	/

	Options +FollowSymLinks

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteRule ^.*$ /index.php
</IfModule>